  .testimonial-container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 30px 0;
    background-color: rgb(0, 0, 0);
  }

  .carousel-track {
    display: flex;
    animation: scroll 30s linear infinite;
    width: fit-content;
  }

  .testimonial-card {
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-width: 400px;
    margin: 0 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #000000;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(38, 38, 38, 1) 100%, rgba(79, 78, 78, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    cursor: default;
  }

  .testimonial-card:hover {
    transform: translateY(-5px);
  }

  .testimonial-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .testimonial-name {
    font-size: 18pt;
    font-weight: bold;
    color: #fdfdfd;
    margin-bottom: 5px;
  }

  .testimonial-position {
    font-size: 14pt;
    color: #666;
    margin-bottom: 8px;
    color: #fdfdfd;
  }

  .testimonial-rating {
    display: flex;
    margin-bottom: 10px;
  }

  .star {
    color: #FFD700;
    margin-right: 2px;
    font-size: 16px;
  }

  .testimonial-content {
    font-size: 16pt;
    color: #555;
    line-height: 1.6;
    font-style: italic;
    color: #fdfdfd;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-30%);
    }
  }

  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .testimonial-card {
      min-width: 250px;
      max-width: 250px;
    }

    .testimonial-title {
      font-size: 24px;
    }
  }

  .statistics{
    display: flex;
    margin: 20px 300px 20px 300px;
    height: 200px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 10%;
    background-color: #22222277;
  }

  .statistics div{
    color: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
